    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="./login.html">
            <img src="/img/getogether-logo-full-xl.png" width="70" height="50" class="d-inline-block align-top"
                alt="logo">
        </a>
    </nav>
    <div class="container d-sm-flex mr-xs-0 ml-xs-0">
        <div class="row container">
            <div class="col-md-6 col-sm-12">
                <h2>Create Event</h2>
                <form class="signup">
                    <div class="form-group">
                        <label for="Event Name">Event Name</label>
                        <input type="text" class="form-control" id="event-input" placeholder="Event">
                    </div>
                    <div class="form-group">
                        <label for="Event Description">Event Description</label>
                        <input type="text" class="form-control" id="event-description" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <label for="Event Name">Event Location</label>
                        <input type="text" class="form-control" id="event-location" placeholder="Location">
                    </div>
                    <div class="form-group">
                        <label for="Event Date">Event Date</label>
                        <input type="date" style="width:250px;" class="form-control" id="event-date" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <label for="Event Start">Event Start</label>
                        <input type="time" style="width:250px;" class="form-control" id="event-start"
                            placeholder="Start">
                    </div>
                    <div class="form-group">
                        <label for="Event End">Event End</label>
                        <input type="time" style="width:250px;" class="form-control" id="event-end" placeholder="End">
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                    <button type="submit" id ="create-event" class="btn btn-default" style="width:250px; color: grey">Create Event</button>
                </form>

            </div>
            <div class="col-md-6 col-sm-12 events">

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/event_page.js"></script>